<% if current_user %>
  <%= render partial: 'users/upload_form' %>
  <section class="section">
    <h2 class="title has-text-centered"><%= current_user.username %>'s Images</h2>
  </section>
  <%= render partial: 'users/image_grid', locals: { user_scope: current_user } %>
<% else %>
  <section class="hero is-primary is-small">
    <div class="hero-body">
      <div class="container has-text-centered">
        <%= link_to 'Create Account', new_user_path, class: 'button is-large is-primary is-light' %>
      </div>
    </div>
  </section>
<% end %>

<h2 class="title mt-6">Community Feed</h2>
<% @community_users.each do |user| %>
  <%= render partial: 'users/image_grid', locals: { user_scope: user } %>
<% end %>
