<!DOCTYPE html>
<html>
  <head>
    <title>Shopigram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/solar/bulmaswatch.min.css">
  </head>

  <body>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">Shopigram</a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarData">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu is-size-4" id="navbarData">
        <div class="navbar-start">
          <%= link_to 'Home', root_path, class: 'navbar-item' %>
        </div>

        <div class="navbar-end">
          <% if current_user %>
            <%= link_to 'Profile', user_profile_path, class: 'navbar-item' %>
            <%= link_to 'Logout', method: :delete, class: 'navbar-item' %>
          <% else %>
            <%= link_to 'Sign Up', new_user_path, class: 'navbar-item button is-info' %>
            <%= link_to 'Log In', new_session_path, class: 'navbar-item button is-success' %>
          <% end %>
        </div>
      </div>
    </nav>
    
    <div class="section">
      <% flash.each do |type, msg| %>
        <div class="message is-info">
          <%= msg %>
        </div>
      <% end %>
    </div>

    <section class="section">
      <%= yield %>
    </section>
  </body>
</html>
