<!DOCTYPE html>
<html>
  <head>
    <title>Shopigram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/solar/bulmaswatch.min.css">
  </head>

  <body>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item is-italic is-size-1" href="/">Shopigram</a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarData">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu is-size-4" id="navbarData">
        <div class="navbar-start">
        </div>

        <div class="navbar-end">
          <% if current_user %>
            <%= link_to 'Profile', user_profile_path, class: 'navbar-item' %>
            <%= link_to 'Logout', logout_path, method: :delete, class: 'navbar-item' %>
          <% else %>
            <%= link_to 'Sign Up', new_user_path, class: 'navbar-item button is-large is-primary mx-3 mt-3' %>
            <%= link_to 'Log In', new_session_path, class: 'navbar-item button is-large is-primary is-inverted mx-3 mt-3' %>
          <% end %>
        </div>
      </div>
    </nav>
    
    <section class="section mt-6">
    <% if !flash.empty? %>
      <article class="message is-primary is-inverted" id="flash-message">
        <div class="message-body">
          <% flash.each do |type, messages| %>
            <% if messages.respond_to?('each') %>
              <% messages.each do |message| %>
                <p><%= message %></p>
              <% end %>
            <% else %>
              <p><%= messages %></p>
            <% end %>
          <% end %>
        </div>
      </article>
    <% end %>
      <%= yield %>
    </section>
    <footer class="footer mt-6">
      <div class="content has-text-centered">
        <p>
          <strong>Shopigram is a Rails & Bulma playground</strong> by <a href="https://philmccarthy.dev">Phil McCarthy</a>.
        </p>
        <p>
          Find me on <a href="https://github.com/philmccarthy">GitHub</a> and <a href="https://www.linkedin.com/in/pjmcc/">LinkedIn</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
